<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
    
   <!-- 
   A mappings element has multiple mapping elements, each with class mapping declarations and field level mappings. 
   The wildcard attribute is set to true by default. This means that it will automatically try to map every property in the two objects.
   When the attribute is set to false it will only map explicitly defined fields.
   IMPORTANT: Properties that are of the same name do not need to be specified in the mapping xml file. 
   Dozer automatically maps all fields with the same property name from the source object into the destination object.
   以下是官方示例
 -->  
<!--   <mapping> 
    <class-a>org.dozer.vo.TestObject</class-a>
    <class-b>org.dozer.vo.TestObjectPrime</class-b>   
    <field>
      <a>one</a>
      <b>onePrime</b>
    </field>
  </mapping>  

  <mapping wildcard="false"> 
    <class-a>org.dozer.vo.TestObjectFoo</class-a>
    <class-b>org.dozer.vo.TestObjectFooPrime</class-b>   
      <field>
        <a>oneFoo</a>
        <b>oneFooPrime</b>
      </field>
  </mapping>   -->
</mappings> 